@CHARSET "UTF-8";
header {width: 100%;}

section {	width: 100%;	height: 100%;}
footer {	width: 100%;	height: 50px;}
/* CLASS Style */
	/* COLOR */
.border_red {border: 1px solid red;}
.bg_color_yellow{background-color:yellow;}
.bg_color_black{background-color:black;}
.bg_color_white{background-color:white;}
.font_weight{font-weight: bold;};

	/* position */
.center{margin: 0 auto;}
.text_left{text-align: left;}
.float.left{float: center;}
	/*Compoment */
.box{padding-top:50px; margin: 0 auto; width: 600px; text-align: center;}
.box a{cursor:point;}
.bottom{position: fixed;bottom: 0;width: 100%;	height: 50px;}
.footer { background-color:black;color:white; clear:both; text-align:center; padding:5px;}

.ol    {display: inline-block;margin-left: auto;margin-right: auto; }
.remove_underline{text-decoration :none}
.cursor{cursor:pointer}
.list_style_none{list_style_none:non;}
.over_hidden{overflow:hidden;}
.display_inline{display: inline;}
.meta{width: 500px;float: center;}

/* ID STYLE */

/* #header {background-color:black;color:white; text-align:center;padding:5px;} */










