<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.subject">
<select id="findById" parameterType="string" resultType="com.hanbit.web.domains.SubjectDTO">
select * from subject where id = #{id}
</select>
<insert id="insert" parameterType="com.hanbit.web.domains.SubjectDTO">
insert into subject(subj_seq,id,major,subjects) values(subj_seq.nextval,#{id},#{major},#{subjects})
</insert>
</mapper>